/* CSS for "Healing the Light Within" */
body {
    background-color: #769c86;
    font-family: 'Lemonada', cursive;
    bottom: 0;
    text-align: center;
} 

h1 {
    background-color: #744587;
    text-align: center;
    font-size: 60px;
    margin: -.5em -.14em .5em -.5em;
    padding-left: .9em;
}

img {
    width: 30%;
    height: 30%;
    margin-bottom: -.8em;
}

/* This is for the Nav bar */
.navbar {
    display: flex;
    background-color: #fff021;
    margin: -2.75rem -.5rem .5rem -.5rem;
}
  
.navbar a {
    font-size: 20px;
    color: black;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
}
  
.navbar a:hover {
    background-color: plum;
    color: black;
}

.navbar a.page {
    border-bottom: 10px solid #744587;
}

/* To Do */
.MainBody {
    color: black;
    margin-top: -3em;
}

h2 {
    font-size: 75px;
}

h3 {
    font-size: 35px;
    padding-left: 5em;
    padding-right: 5em;
}

.first {
    font-size: 19px;
    padding: 1.5em;
    margin: -3em -9.65em -.5em -9.65em;
}

#Reiki {
    width: 30%;
    height: 30%;
    padding-bottom: 1em;
}

.first u {
    font-size: 25px;
}

.second {
    background-color: #744587;
    font-size: 19px;
    padding: 1.5em;
    margin: -3em -9.65em 1.5em -9.65em;
}

#Chakra {
    width: 30%;
    height: 30%;
    padding-bottom: 1em;
}

.second u {
    font-size: 25px;
}

.third {
    font-size: 19px;
    padding: 1.5em;
    margin: -3em -9.65em -.5em -9.65em;
}

#Angel {
    width: 30%;
    height: 30%;
    padding-bottom: 1em;
}

.third u {
    font-size: 25px;
}

.forth {
    background-color: #744587;
    font-size: 19px;
    padding: 1.5em;
    margin: -3em -9.65em 1.5em -9.65em;
}

#Spirit {
    width: 30%;
    height: 30%;
    padding-bottom: 1em;
}

.forth u {
    font-size: 25px;
}

.explanation {
    margin: -.2em -.5em -1.5em -.5em;
    padding: .3em;
}

h4 {
    background-color: #744587;
    font-size: 15px;
    padding: 2em;
    margin: 3em -.52em -1.5em -.52em;
}

footer {
    margin: -.2em -.5em -1.5em -.5em;
    padding: 1.5em;
}